/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-wrapper {
  
  /* Main font */
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Dancing Script", cursive;
}

/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #472D30 0%, #5D353B 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: #584043;
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
  color:#FFE1A8;
}
.page-wrapper a { color:#E26D5C 
 
}